.LikeCardOuter{
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}

.LikeCardOuter:hover{
    background-color: rgba(214, 203, 203,0.5);
    border-bottom:1px solid #F1F1F1;
}

.LikeCardOuter img{
    width: 120px;
    height:70px;
    margin-left:12px;
    margin-right:12px;
    object-fit: cover;
}

.LikeCardOuter span.material-icons{
    
}