.RecommendedTagOuter{
    overflow: hidden;
    overflow-x:hidden; 
    height: 2em; 
    display: flex;
    margin-left: 1.5em;
    margin-right:1.5em;
}

.RecommendedTag{
    background-color: #E8E8E8;
    border:1px solid #D0D0D0;
    color:#000000;
    padding:4px 12px;
    padding-bottom: px;
    border-radius: 25px;
    margin-left: 8px;
    cursor: pointer;
    display:inline-block;
}

.RecommendedTag:hover{
    background-color: #CCCCCC;
}


.RecommendedTagMasterOuter{
    position: relative;
    margin-right: 1em;
    margin-left: 1em;
    /* width:100%; */
    /* position:fixed;
    top:65px;
    right:0; */
    background-color: #F9F9F9;
}

#LeftScroll{
    position: absolute;
    left:0;
    top:5px;
    background-color: #F9F9F9;
    outline: none;
    border: none;
    cursor: pointer;
    color: gray;
}

#RightScroll{
    position:absolute;
    right:0;
    top:5px;
    background-color: #F9F9F9;
    outline: none;
    border: none;
    cursor: pointer;
    color: gray;
}