.WatchcontentTitle{
    font-weight:490;
    color:#00000;
}
.WatchcontentInfoOuter{
    display:flex;
    align-items:center;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom:1px solid #CCCCCC;

}
.WatchcontentInfoInnerLeft{
  color:#606060;
}
.WatchcontentInfoInnerRight{
    margin-left:auto;
    color:#00000;
    display:flex;
}

.WatchcontentInfoInnerRight span{
    margin-left:12px;
    align-items:center;
    cursor:pointer;
}

.WatchcontentInfoInnerRightOption{
    display:flex;
    align-items:center;
}